html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h3 {
  text-align: left;
}

p {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 16px;
}



a[href]{
   color: pink;
}

a:hover {
  color: darkred;
}

p:hover {
  background-color: lightblue;
}

.title {
  text-transform: uppercase;
  color: purple;
  font-family: cursive;
}

.image {
  background-image: url("https://images.weddingvogue.cn/i/8/ec/8ec25767-b349-11ed-bed8-0242ac140004.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}
